// ====================================
// placeholders -----------------------

%flatten {
    &:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

%wrapper {
    width: calc(100% - 10vw);
	max-width: 1600px;
    margin: 0 auto;
}