// ====================================
// placeholders -----------------------

%flatten {
    &:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

%wrapper {
	max-width: calc(100% - 40px);
    margin: 0 auto;
    @include breakpoint (tablet) {
        max-width: 600px;
    }
    @include breakpoint (tablet-wide) {
        max-width: 900px;
    }
    @include breakpoint (desktop) {
        max-width: 1200px;
    }
    @include breakpoint (desktop-wide) {
        max-width: 1600px;
    }
}