// ====================================
// colours ----------------------------

$white: #fff;
$black: #000;
$success: #62b51f;
$warning: #e4be4c;
$error: #c82727;
$info: #5bc0de;
$border: #ccc;

:root {
    --black: #000000;

    --ada-black: #000028;
    --link-color: var(--black);
    
    --alpha: #5DFF77;
}

// $facebook: #3b5998;
// $twitter: #55acee;
// $youtube: #bb0000;
// $linkedin: #007bb5;
// $instagram: #125688;
// $pinterest: #cb2027;

// ====================================
// fonts ------------------------------

$sans: 'Roobert', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;

$line-height: 1.5;

$light: 300;
$normal: 400;
$semi: 600;
$bold: 700;

$text-size: 16px;
$text-color: var(--black);

// ====================================
// defaults ---------------------------

$body-color: $white;
$font-family: $sans;

// ====================================
// forms ------------------------------

$input-bkg: $white;
$input-border: $border;
$input-focus: lighten($black, 95%);
